.text{
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(transparent 75%, yellow 75%);
}
.link{
  font-size: 14px;
  color: #0051e0;
}

.title-inner {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 3px dashed #000;
  padding-bottom: 1px;
}

.title2 {
  padding: 5px;
  border-left: 3px solid #000;
  background: #f4f4f4;
  width: 120px;
}

.title3 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.title3:before, .title3:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}
.title3:before{
  left: 0;
}
.title3:after{
  right: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #000;
  color: #fff;
}
.header-ttl {
  font-size: 24px;
  width: 80px;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}